*{
    margin: 0px;
    padding: 0px;
}
body{
    color: white;
}
header{
    background-image:url(header.jpeg) ;
    background-size: cover;
 height: 100vh;
    
}
 header nav{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
}
header nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.3s;
}
header nav a i{
padding: 5px;   
}

.header1{
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header1 h1{
  font-size: 40px;
  
}
.header1 button{
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-color: white;
    text-transform: uppercase;
    transition: 0.3s;
}
.header1 p{
    margin-top: 30px;
}
.header1 button:hover{
    background-color: burlywood;
    transform: scale(1.1);

}

main h1,p{
    text-align: center;
    color: gray;
}
main h1{
    font-size: 40px;
}
.container{
    display: flex;
    width: 100%;
    margin-top: 10%;
    justify-content: flex-end;
}
.text,.image{
    width: 50%;
}
.image{
display: flex;
justify-content: flex-end;
}
.container button{
    margin-left: 20%;
    margin-top: 10%;
    color: white;
    padding: 10px;
    background-color: black;
    border-color: black;
    border-radius: 20px;
    transition: 0.3s;

}
.container button:hover{
    transform: scale(1.1);
    background-color: yellow;
    box-shadow: 0px 0px 3px blue;
}
.cont{
    display: flex;
    width: 100%;
    margin-top: 10%;
    background-color: black;
    height: 100vh;
    text-align: center;

    margin: 0%;
}
.im1,.im2,.im3{
    width: 33%;
    display:flex;
    flex-direction: column;
    text-align: center;
   justify-content: center;
  
 

}
del{
    color: darkgoldenrod;
}

.sec3{
      background-color: black;
}
.sec3 h1{
    color: darkorange;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}
.meal{
    display: flex;
    box-shadow: 0 0 7px;
    width: 50%;
    margin-top: 5%;
}
.meal img{
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 10%;
    border-radius: 30px;
    line-height: 1.3;
}
.meal .text{
    display: flex;
    flex-direction: column;
    color: green;
    justify-content: center;
    margin: 10px

}
strong{
    color: darkgoldenrod;
}
.but2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1,p{
    margin-top: 4%;
}
.list1{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: darkgoldenrod;
    margin-top: 5%;
   
    
}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
 
}
.time img{
width: 150px;
height: 150px;
}
.time h1,p{
    color: black;
}
.div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    max-width: 800px;
    margin-left:  20%;

   
   
  
}
.div img{
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10%;
}
.last{
    background-color: black;
   
}

.all{
    display: flex;
    width: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    
}

.text h1{
    color: gray;
    margin-left: 20%;
}
.inp{
display:flex ;
width: 50%;
height: 100px;
flex-direction: column;
gap: 40px;
}
input{
    padding: 25px;
width: 300px;
  font-size: 20px;
  margin-top: 10%;
 background-color: rgba(128, 128, 128, 0.27);
 border: none;
}
.add{
    color: green;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
   background-color: rgba(0, 0, 0, 0.753);
   margin-top: 20%;
}
.icons i{
  padding: 20px;
  border-radius: 30%;
  transition: 1.1;
}
input:focus{
    box-shadow: 0px 0px 4px green;
    border: 2px groove blue;
}
.icons i:hover{
    transform: scale(0.3s);
}
.sec3 p{
    color: white;
}